@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("./styles//header.css");
@import url("./styles//main.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-pri: "Montserrat", serif;

  --dark-100: #a3a3a3;
  --dark-200: #464646;
  --light-100: #ffffff;
  --light-200: #f9f9f9;
  --pri-color: #ffb050;
  --sec-color: #4894ff;
}

body {
  background: var(--light-200) url("./assets/background_img.png") no-repeat
    center/cover;
}

body * {
  font-size: 1.6rem;
  font-family: var(--ff-pri);
  color: var(--dark-200);
}

a {
  text-decoration: none;
}
