footer {
  grid-area: footer;
  position: relative;
  box-shadow: 0 -0.5rem 1rem #cfcfcf;
}

footer nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.2rem;
}

footer nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer a,
footer i {
  color: var(--dark-100);
  transition: 0.2s ease;
}

footer a:hover,
footer a:hover > i {
  color: var(--sec-color);
}

footer button,
footer label {
  position: absolute;
  right: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border: none;
  border-radius: 100rem;
  background-color: var(--sec-color);
  box-shadow: 0 0 1rem var(--sec-color);
  transition: 0.2s ease;
}

footer button i,
.add i {
  color: var(--light-100);
}

footer button:hover,
.add:hover {
  scale: 1.25;
}

.add {
  top: -5rem;
}

#add:checked ~ button {
  display: initial;
}

.location-btn,
.time-btn,
footer input {
  display: none;
}

.location-btn {
  top: -10rem;
  animation: rightToLeft 0.2s ease;
}

.time-btn {
  top: -15rem;
  animation: rightToLeft 0.2s ease 0.2s forwards;
  animation-fill-mode: backwards;
}

@media (min-width: 1024px) {
  footer {
    border-right: .2rem solid var(--light-200);
    box-shadow: none;
    background-color: var(--light-100);
  }

  footer nav {
    padding: 2.4rem;
  }

  footer nav {
    align-items: start;
    flex-direction: column;
    gap: 1.6rem;
  }

  footer nav a {
    flex-direction: row;
    gap: 0.8rem;
    font-size: 1.8rem;
  }
}

@keyframes rightToLeft {
  0% {
    transform: translateY(-20rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
