footer {
  grid-area: footer;
  position: relative;
  box-shadow: 0 -0.5rem 1rem #cfcfcf;
}

footer nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.2rem;
}

footer nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer a,
footer i {
  color: var(--dark-100);
  transition: 0.2s ease;
}

footer a:hover,
footer a:hover > i {
  color: var(--sec-color);
}

footer button {
  position: absolute;
  right: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border: none;
  border-radius: 100rem;
  color: var(--light-100);
  background-color: var(--sec-color);
  box-shadow: 0 0 1rem var(--sec-color);
  transition: 0.2s ease;
}

footer button:hover {
  scale: 1.25;
}

footer i {
  color: var(--light-100);
}

.add-btn {
  top: -5rem;
}

.location-btn,
.time-btn {
  display: none;
}

.location-btn {
  top: -10rem;
}

.time-btn {
  top: -15rem;
}
