main {
  grid-area: main;
  padding: 0 5%;
  overflow: auto;
  background: var(--light-200);
}

main::-webkit-scrollbar {
  display: none;
}

main h2 {
  padding: 0.8rem 0;
}

.card-container {
  display: flex;
  flex-direction: column;
}

.card {
  margin-bottom: 1.6rem;
  padding: 1.6rem;
  border-radius: 0.8rem;
  background: var(--light-100);
  box-shadow: 0 0.5rem 1rem #cfcfcf;
}

.card-user {
  display: flex;
  align-items: center;
  padding-bottom: 1.2rem;
  border-bottom: 0.1rem solid var(--dark-100);
}

.card-user div i,
.card-user div span {
  font-size: 1.2rem;
}

.card img {
  width: 3.2rem;
  height: 3.2rem;
  margin-right: 1.6rem;
  border-radius: 50rem;
  object-fit: cover;
}

.card strong {
  margin-bottom: 0.8rem;
}

.fa-message {
  margin-left: auto;
  padding: 0.8rem;
  border-radius: 50rem;
  color: var(--sec-color);
  background: var(--light-200);
  transition: .2s ease;
}

.time {
  margin: 0.8rem 0;
  font-size: 1.2rem;
}

.card-buttons {
  display: flex;
  gap: 1.8rem;
}

.card button {
  flex: 1;
  padding: 1.2rem 1.6rem;
  border-radius: 0.8rem;
  border: 0.1rem solid var(--dark-100);
  background-color: transparent;
  transition: 0.2s ease;
}

.card .video-call {
  border: none;
  color: var(--light-100);
  background-color: var(--pri-color);
}

.video-call:hover {
  cursor: pointer;
  background-color: #ffb050cc;
}

.audio-call:hover {
  cursor: pointer;
  color: var(--light-100);
  background-color: var(--dark-100);
}

.card .address {
  width: 100%;
  border: none;
  color: var(--light-100);
  background-color: var(--sec-color);
  transition: 0.2s ease;
}

.address:hover,
.fa-message:hover {
  cursor: pointer;
  filter: brightness(0.9);
}

@media (min-width: 1024px) {
  .card-container {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .card {
    width: 49%;
  }
}

@media (min-width: 1728px) {
  .card {
    width: 32%;
  }
}
